Flask==0.11.1
Flask-Migrate==2.0.0
Flask-SQLAlchemy==2.1
Flask-Script==2.0.5
mysqlclient
oauth2client==1.5.2
SQLAlchemy==0.9.8
alembic==0.8.8
backports.ssl-match-hostname==3.4.0.2
google-api-python-client==1.4.2
six==1.10.0
python-slugify
