<!doctype html>
<html data-ng-app="MMQbeta">
  <head>
    <meta charset="utf-8"> 
    <title ng-bind="header"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body data-ng-controller="IndexController" ng-init="channel='{{ channel.slug }}';init()">

    <div id="loading" data-ng-show="$root.loading!=0" style="display:none;">
        <img src="static/spinner.gif" class="spinner"/>
    </div>
  <nav class="navbar navbar-default navbar-fixed-top" {% if channel.slug=="thalia-www" %}style="background-color:#ff00ff;"{% endif %}>
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <a class="navbar-brand" href="/">MMQalpha</a>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
                <h4 id="current">Currently playing: {[{ youtube.videoTitle }]}</h4>
      </ul>
       <div class="form-group pull-right">
            <button class="btn btn-default pull-right" data-ng-click="startBroadcast()">
               Start broadcast
            </button>
       </div>
    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->
</nav>
    <div class="row">
        <div class="col-lg-4 col-sm-4 col-xs-4 col-md-4 sidebar" {% if channel.slug=="thalia-www" %}style="background-color:#ff00ff;"{% endif %} id="playlist">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Search a song on youtube</h3>
                  <form class="form-inline search" role="search" data-ng-submit="search()">
                    <div class="form-group">
                        <input id="query" name="q" type="text" class="form-control" placeholder="Search youtube video" data-ng-model="query">
                    </div>
                    <button class="btn btn-default" type="submit" id="submit"> Search</button>
                  </form>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-striped" id="playlist">
                        <tr>
                            <th>Search results:</th>
                        </tr>
                        <tr data-ng-repeat="video in results">
                          <td>
                              <div class="col-xs-3">
                                <img class="thumbnail" src="{[{ video.thumbnail }]}" />
                              </div>
                              <div class="col-xs-9">
                                  <p class="item-title" data-ng-click="add(video.id)")>
                                      {[{video.title}]}
                                      <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span>
                                  </p>
                              </div>
                          </td>
                        </tr>
                      </table>
                </div>
                <div class="col-xs-12" id="placeholder"></div>

            </div>
        </div>
        <div class="col-lg-8 col-sm-8 col-xs-8 col-md-8 col-lg-offset-4 col-md-offset-4 col-sm-offset-4 col-xs-offset-4">
        <div class="row">
            <div class="col-lg-6" id="playlist">
                  <table class="table table-striped" id="upcoming">
                    <tr>
                        <th>Title</th>
                        <th>Time</th>
                        <th>Until</th>
                    </tr>
                    <tr data-ng-repeat="video in upcoming" data-ng-click="launch(video.code, video.title, video.r_id)">
                      <td><p class="item-title">{[{video.title}]}</p></td>
                      <td>{[{video.duration | secondsToTime}]}</td>
                      <td ng-show="$index != 0">{[{(upcoming | runningTotal:'duration':$index-1) | secondsToTime}]}</td>
                      <td ng-show="$index == 0">Soon</td>
                    </tr>
                  </table>
                </div>
                <div class="col-lg-6" id="playlist">
                  <table class="table table-striped" id="playlist">
                    <tr>
                        <th>History:</th>
                    </tr>
                    <tr data-ng-repeat="video in playlist">
                      <td><p class="item-title" data-ng-click="queue(video.id)")>{[{video.title}]}<span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span></p></td>
                    </tr>
                  </table>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/angular.min.js"></script>
    <script src="/static/app.js"></script>
  </body>
  <script>
      app.config(function($interpolateProvider) {
        $interpolateProvider.startSymbol('{[{');
        $interpolateProvider.endSymbol('}]}');
        });
  </script>

</html>
