<!doctype html>
<html data-ng-app="MMQbeta">
  <head>
    <meta charset="utf-8"> 
    <title ng-bind="header"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
  </head>
  <body data-ng-controller="IndexController" ng-init="channel='{{ channel.slug }}';channelselect=-1;init()">

    <div id="loading" data-ng-show="$root.loading!=0" style="display:none;">
        <img src="static/img/spinner.gif" class="spinner"/>
    </div>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <a class="navbar-brand" href="/">MMQalpha</a>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
                <h4 id="current">Currently playing: {[{ youtube.videoTitle }]}</h4>
      </ul>
       <div class="form-group pull-right">
            <button class="btn btn-default pull-right" data-ng-click="startBroadcast()">
               Start broadcast
            </button>
           <button class="btn btn-default pull-right" data-ng-click="channelselect=channelselect * -1">
               Select channel
            </button>
       </div>
    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->
</nav>
    <div class="row">
        <div class="col-lg-4 col-sm-4 col-xs-4 col-md-4 sidebar" id="playlist">
                <h3>Search a song on youtube <i class="glyphicon glyphicon-volume-down" data-ng-click="lowerVol()"></i><i class="glyphicon glyphicon-volume-up" data-ng-click="incrementVol()"></i></h3>
              <form class="form-inline search" role="search" data-ng-submit="search()">
                <div class="form-group">
                    <input id="query" name="q" type="text" class="form-control" placeholder="Search youtube video" data-ng-model="query">
                </div>
                <button class="btn btn-default" type="submit" id="submit"> Search</button>
              </form>
                <table class="table table-striped" id="playlist">
                    <tr>
                        <th>Search results:</th>
                    </tr>
                    <tr data-ng-repeat="video in results">
                      <td>
                          <div class="col-xs-3">
                            <img class="thumbnail" src="{[{ video.thumbnail }]}" />
                          </div>
                          <div class="col-xs-9">
                              <p class="item-title" data-ng-click="add(video.id, video.title)")>
                                  {[{video.title}]}
                                  <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span>
                              </p>
                          </div>
                      </td>
                    </tr>
                </table>
            <div id="placeholder"></div>
        </div>
        <div class="col-xs-4" id="playlist">
                  <table class="table table-striped" id="upcoming">
                    <tr>
                        <th>Title</th>
                        <th>Time</th>
                        <th>Until</th>
                    </tr>
                    <tr data-ng-repeat="video in upcoming">
                      <td>
                          <span class="glyphicon glyphicon-remove pull-right" data-ng-click="remove(video.r_id)" aria-hidden="true"></span>
                          <p class="item-title" data-ng-click="launch(video.code, video.title, video.r_id)">{[{video.title}]}</p>
                      </td>
                      <td>{[{video.duration | secondsToTime}]}</td>
                      <td ng-show="$index != 0">{[{(upcoming | runningTotal:'duration':$index-1) | secondsToTime}]}</td>
                      <td ng-show="$index == 0">Soon</td>
                    </tr>
                  </table>
        </div>
        <div class="col-xs-4" id="playlist">
                  <table class="table table-striped" id="playlist">
                    <tr>
                        <th>History:</th>
                    </tr>
                    <tr data-ng-repeat="video in playlist">
                      <td><p class="item-title" data-ng-click="queue(video.code, video.title)")>{[{video.title}]}<span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span></p></td>
                    </tr>
                  </table>
        </div>
        <div id="sidebar-wrapper" class="col-md-2" data-ng-show="channelselect==1" >
            <h3>Current channel: {[{channel}]} </h3>
            <table class="table table-striped" id="playlist">
                <tr data-ng-repeat="channel in channels">
                    <td><p class="item-title" data-ng-click="changechannel(channel.slug)")>{[{channel.title}]}<span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span></p></td>
                </tr>
            </table>

        </div>
    </div>
    <div class="row">
        <div class="footer col-xs-12">
            <h4 style="text-align:center;width:100%;">
                <span style="margin-right:20px;">MMQ is in early alpha, working client is not guaranteed! Feedback always appreciated.</span>
                <a href="mailto:mmq@martns.nl" style="margin-right:20px;">contact</a>
                <a href="http://www.github.com/jantjee314/mmq" style="margin-right:20px;">source</a>
            </h4>
        </div>
    </div>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-64311976-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/app.js"></script>
  </body>
  <script>
      app.config(function($interpolateProvider) {
        $interpolateProvider.startSymbol('{[{');
        $interpolateProvider.endSymbol('}]}');
        });
  </script>

</html>
