<!doctype html>
<html data-ng-app="MMQbeta">
  <head>
    <meta charset="utf-8">
    <title>MMQ alpha</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  </head>
  <body class="container"  data-ng-controller="IndexController" data-ng-init="poll()">
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <a class="navbar-brand" href="/">MMQalpha</a>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->
</nav>
    <div class="row">
        <div class="col-lg-6" id="playlist">
          <table class="table table-striped" id="channels">
            <tr>
                <th>Channels:</th>
            </tr>
            <tr data-ng-repeat="channel in channels">
                <td><a href="/{[{channel.slug}]}"><p class="item-title">{[{channel.title}]}</p></a></td>
            </tr>
          <tr>
              <td>
                  <form data-ng-submit="add()">
                  <div class="col-lg-8">
                    <input style="float:left;" class="form-control" id="query" name="q" type="text" placeholder="Add channel" data-ng-model="channel">
                  </div>
                  <button style="float:left;" class="btn btn-default" type="submit" id="submit"> Submit</button>
                  </form>
              </td>
          </tr>
          </table>
        </div>
    </div>
    <script src="/static/angular.min.js"></script>
    <script src="/static/home.js"></script>
  </body>
  <script>
      app.config(function($interpolateProvider) {
        $interpolateProvider.startSymbol('{[{');
        $interpolateProvider.endSymbol('}]}');
        });
  </script>
</html>
