<!doctype html>
<html data-ng-app="MMQbeta">
  <head>
    <meta charset="utf-8">
    <title>MMQ alpha</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  </head>
  <body class="container"  data-ng-controller="IndexController" data-ng-init="poll()">
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <a class="navbar-brand" href="/">MMQalpha</a>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
    </div><!-- /.navbar-collapse -->

  </div><!-- /.container-fluid -->
</nav>
    <div class="row">
        <div class="col-lg-6" id="playlist">
          <table class="table table-striped" id="channels">
            <tr>
                <th>Channels:</th>
            </tr>
            <tr data-ng-repeat="channel in channels">
                <td><a href="/{[{channel.slug}]}"><p class="item-title">{[{channel.title}]}</p></a></td>
            </tr>
          <tr>
              <td>
                  <form data-ng-submit="add()">
                  <div class="col-lg-8">
                    <input style="float:left;" class="form-control" id="query" name="q" type="text" placeholder="Add channel" data-ng-model="channel">
                  </div>
                  <button style="float:left;" class="btn btn-default" type="submit" id="submit"> Submit</button>
                  </form>
              </td>
          </tr>
          </table>
        </div>
    </div>
    <div class="row">
        <div class="footer col-xs-12">
            <h4 style="text-align:center;width:100%;">
                <span style="margin-right:20px;">MMQ is in early alpha, working client is not guaranteed! Feedback always appreciated.</span>
                <a target="_blank" href="mailto:mmq@martns.nl" style="margin-right:20px;">contact</a>
                <a target="_blank" href="http://www.github.com/jantjee314/mmq" style="margin-right:20px;">source</a>
            </h4>
        </div>
    </div>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-64311976-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/home.js"></script>
  </body>
  <script>
      app.config(function($interpolateProvider) {
        $interpolateProvider.startSymbol('{[{');
        $interpolateProvider.endSymbol('}]}');
        });
  </script>
</html>
